img{
    height:75px;
}
.country{
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius:5px;
}
.addCountry{
    width: 150px;
    background-color: goldenrod;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;

}